// :root {
//   color-scheme: light dark;
//   color: rgba(44, 44, 44, 0.87);
//   background-color: #d0d0de;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 30px;
  font-size: 16px;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

// li :hover {
//   color: $color-primary-light;

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: $color-white;
  text-decoration: inherit;
}
a:hover {
  color: $color-primary-light;
}

button {
  padding: 0;
  border: none;
  outline: inherit;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

#app {
  max-width: 400px;
  height: 100%;
  // max-width: 1280px;
}
