*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 30px;
  font-size: 16px;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #e0976e;
}

button {
  padding: 0;
  border: none;
  outline: inherit;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

#app {
  max-width: 400px;
  height: 100%;
}

.main-header {
  position: relative;
  color: #fff;
}

.hero {
  width: 100%;
  background-color: none;
}
.hero__background-image {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 60rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("../../src/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
}
.hero__text-box {
  position: absolute;
  top: 9rem;
  text-align: center;
}
.hero__text-box--heading {
  margin-top: 20rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  color: #979797;
}
.hero__text-box--title {
  margin-top: 1.6rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1;
}
.hero__text-box--text {
  margin: 1.6rem 4.8rem;
  color: #f1f1f1;
}
.hero__text-box--button {
  margin-top: 2.2rem;
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 9rem;
  background-color: #000;
  z-index: 1000;
  border-bottom: 1px solid #979797;
}

.main-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-nav__links {
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 75rem;
  top: 0;
  left: 0;
  margin-top: 9rem;
  padding: 2.4rem;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}
.main-nav__links--mobile-image {
  width: 14rem;
}
.main-nav__links--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 16rem;
  margin-top: 6.8rem;
  text-align: center;
  border-radius: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.main-nav__links--item.home-link {
  display: none;
}
.main-nav__links--text-container {
  width: 100%;
  margin-top: 10;
  color: #000;
  text-transform: uppercase;
}
.main-nav__links--text-title {
  letter-spacing: 1.06px;
  font-weight: 600;
}
.main-nav__links--text-mobile-cta {
  margin: 1.6rem 0;
  display: inline-block;
}
.main-nav__links--arrow-icon {
  fill: #d87d4a;
}

.nav-button {
  padding: 2.4rem;
  background-color: none;
}
.nav-button* {
  cursor: pointer;
}

.product-families {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.product-families__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-families__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 75rem;
  top: 0;
  left: 0;
  padding: 0 2.4rem;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}
.product-families__links--mobile-image {
  width: 14rem;
}
.product-families__links--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 16rem;
  margin-top: 6.8rem;
  text-align: center;
  border-radius: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.product-families__links--item.home-link {
  display: none;
}
.product-families__links--text-container {
  width: 100%;
  margin-top: 10;
  color: #000;
  text-transform: uppercase;
}
.product-families__links--text-title {
  letter-spacing: 1.06px;
  font-weight: 600;
}
.product-families__links--text-mobile-cta {
  margin: 1.6rem 0;
  display: inline-block;
}
.product-families__links--arrow-icon {
  fill: #d87d4a;
}

.nav-button {
  padding: 2.4rem;
  background-color: none;
  cursor: pointer;
}
.nav-button > object > svg {
  cursor: pointer;
}

.nav-button > object {
  cursor: pointer;
}

.featured {
  display: grid;
  grid-template-columns: 1;
  gap: 4rem;
  margin-top: 12rem;
}
.featured a {
  display: inline-block;
  margin-top: 2.4rem;
  padding: 1.4rem 2.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.featured a.button-filled {
  background-color: #000;
}
.featured a.button-outline {
  color: #000;
  outline: #000 solid 1px;
}
.featured__product-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2.4rem;
  padding: 2.4rem;
  overflow: hidden;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background: repeating-radial-gradient(circle at 50% 30%, #d87d4a, #d87d4a 16rem, #e0976e 16.1rem, #e0976e 16.2rem, #d87d4a 16.2rem, #d87d4a 18.6rem, #e0976e 18.7rem, #e0976e 18.8rem);
}
.featured__product-1--image-box {
  position: relative;
  margin-top: 4.2rem;
  width: 60%;
}
.featured__product-1--text-box {
  margin-top: 3.6rem;
}
.featured__product-1--title {
  line-height: 1.2;
}
.featured__product-1--text {
  margin-top: 2.4rem;
}
.featured__product-1--link {
  margin-bottom: 4.2rem;
}
.featured__product-2 {
  position: relative;
  margin: 0 2.4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
}
.featured__product-2--background-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../../src/assets/home/mobile/image-speaker-zx7.jpg");
  background-size: cover;
}
.featured__product-2--text-box {
  position: absolute;
  top: 30%;
  left: 16%;
}
.featured__product-2--title {
  font-size: 2.8rem;
}
.featured__product-3 {
  margin: 0 2.4rem;
}
.featured__product-3--background-image {
  border-radius: 8px;
}
.featured__product-3--text-box {
  width: 100%;
  height: 18rem;
  margin-top: 1rem;
  padding: 4rem 2.4rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  background-image: radial-gradient(circle at 30% 20%, #f1f1f1, #555 40rem);
}
.featured__product-3--title {
  font-size: 2.8rem;
}

.story {
  margin: 12rem 2.4rem 0 2.4rem;
  text-align: center;
}
.story__image {
  border-radius: 8px;
}
.story__text-box {
  margin-top: 4rem;
}
.story__heading {
  font-weight: 700;
}
.story__heading--highlight {
  color: #d87d4a;
}
.story__text {
  margin-top: 2.8rem;
}

.footer {
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
  text-align: center;
  gap: 4.8rem;
  margin-top: 12rem;
  padding: 0 3rem 4rem 3rem;
  background-color: #000;
}
.footer::before {
  content: "";
  width: 30%;
  height: 0.4rem;
  background-color: #d87d4a;
}
.footer__menu--logo {
  margin-top: 3rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-transform: uppercase;
}
.footer__text {
  color: #fff;
}
.footer__copyright {
  font-size: 1.4rem;
  color: #f1f1f1;
}
.footer__social-links {
  display: flex;
  gap: 1.6rem;
}

button {
  display: inline-block;
  padding: 1.6rem 3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
}
button.button-primary {
  background-color: #d87d4a;
}
button.button-filled {
  background-color: #000;
}
button.button-outline {
  outline: #000 solid 1px;
}
button.nav-button {
  background-color: none;
}

/*# sourceMappingURL=style.css.map */
