button {
  display: inline-block;
  padding: 1.6rem 3rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
  //   transition: border-color 0.25s;
  text-transform: uppercase;
  // }

  &.button-primary {
    background-color: $color-primary;
  }

  &.button-filled {
    // color: $color-white;
    background-color: $color-black;
  }
  &.button-outline {
    outline: $color-black solid 1px;
  }

  &.nav-button {
    background-color: none;
  }

  button:hover {
    //   border-color: #646cff;
  }
  // button:focus,
  // button:focus-visible {
  //   outline: 4px auto -webkit-focus-ring-color;
}
