.main-header {
  position: relative;
  color: #fff;
}

.hero {
  width: 100%;
  background-color: none;

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__background-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60rem;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgba($color-black, 0.6),
    //     rgba($color-black, 0.1)
    //   ),
    //   url('../../src/assets/home/mobile/image-header.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1000;

    &--overlay {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.6),
        rgba($color-black, 0)
      );
    }
  }

  &__text-box {
    position: absolute;
    width: 100%;
    top: 3rem;
    text-align: center;

    &--heading {
      margin-top: 20rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 1rem;
      color: $color-grey-400;
    }

    &--title {
      margin-top: 1.6rem;
      text-transform: uppercase;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 1.1;
    }

    &--text {
      margin: 1.6rem 4.8rem;
      color: $color-grey-100;
    }

    &--button {
      margin-top: 2.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
}
