.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 9rem;
  background-color: $color-black;
  z-index: 1000;
}
.main-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-nav__links {
  position: absolute;
  display: flex;
  // display: none;
  flex-direction: column;
  width: 100%;
  height: 75rem;
  top: 0;
  left: 0;
  margin-top: 9rem;
  padding: 2.4rem;
  border-radius: 0 0 8px 8px;
  background-color: $color-white;

  &--mobile-image {
    width: 14rem;
  }

  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 16rem;
    margin-top: 6.8rem;
    text-align: center;
    border-radius: 8px;
    background-color: $color-grey-100;
    cursor: pointer;

    &.home-link {
      display: none;
    }
  }

  &--text-container {
    width: 100%;
    margin-top: 10;
    color: $color-black;
    text-transform: uppercase;
  }

  &--text-title {
    letter-spacing: 1.06px;
    font-weight: 600;
  }

  &--text-mobile-cta {
    margin: 1.6rem 0;
    display: inline-block;
  }

  &--arrow-icon {
    fill: $color-primary;
  }
}

.nav-button {
  padding: 2.4rem;
  background-color: none;
  cursor: pointer;

  & * {
    cursor: pointer;
  }
}

//
// @media screen {
//   .main-nav__links--list-item {
//     background-color: none;
//   }
//   .main-nav__links--mobile-image-container {
//     display: none;
//   }
//   .main-nav__arrow-icon {
//     display: none;
//   }
// }
