.story {
  margin: 12rem 2.4rem 0 2.4rem;
  text-align: center;

  &__image {
    border-radius: 8px;
  }

  &__text-box {
    margin-top: 4rem;
  }

  &__heading {
    font-weight: 700;

    &--highlight {
      color: $color-primary;
    }
  }

  &__text {
    margin-top: 2.8rem;
  }
}
